/* Edits for the first launch
   ========================================================================== */
footer ul li {
  font-family: filson-pro, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #393d44;
}
footer ul a:hover {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   transform: translateX(0px);
   color: #393d44;
}
.item-block:hover .wrap h4,
.item-block:focus .wrap h4,
.item-block:active .wrap h4,
.item-block.active .wrap h4 {
  color: #336cb4;
}
