ErrorDocument 404 /404.php
ErrorDocument 403 /404.php

# Force SSL
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.bookaloo\.co [NC]
RewriteRule ^(.*)$ https://bookaloo.co/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.bookaloo\.co [NC]
RewriteRule ^(.*)$ https://bookaloo.com/$1 [L,R=301]


</IfModule>
