/* Edits for the first launch
   ========================================================================== */
footer ul li {
  font-family: filson-pro, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #393d44;
}
footer ul a:hover {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   transform: translateX(0px);
   color: #393d44;
}
.item-block:hover .wrap h4,
.item-block:focus .wrap h4,
.item-block:active .wrap h4,
.item-block.active .wrap h4 {
  color: #336cb4;
}


/* Edits by Both Birds
========================================================================== */
/******** FORM CHANGES STARTS *********/
form .form-step h6 span {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    font-family: acumin-pro, sans-serif;
    vertical-align: top;
}

.no-padding {
  padding: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* DATEPICKER */
.ui-datepicker-today span {
  font-weight: 700;
  color: #000;
}

.error-border label {
  border-color: #e22641 !important;
}


/* ALERT NOTICE */
.alert-notice {
  display: inline-block;
  position: relative;
  padding-left: 2em;
  font-size: 14px;
  letter-spacing: .25px;
  color: #868687;
  margin-top: -1.5em;
  margin-bottom: 2.5em;
}
.alert-notice::before {
  content: "!";
  position: absolute;
  left: 6.5px;
  top: 0;
  font-weight: 700;
  z-index: 1;
}
.alert-notice::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 3px;
  background-color: #E4E4E4;
  border-radius: 50%;
}
.step-4 .alert-notice {
  display: inline;
}
/******** FORM CHANGES ENDS *********/


/******** STEP 1 STARTS *********/
.optinal-features {
  margin-top: .35em;
}

form .form-group .radio-icon-control-optional input {
  display: none;
}
form .form-group .radio-icon-control-optional label {
    border: solid 1px #dbdbdb;
    background-color: #F1F6Fc;
}
form .form-group .radio-icon-control-optional :checked + label {
    border: solid 1px #336cb4;
    background-color: #FFFFFF;
}
/******** STEP 1 ENDS *********/


/******** THE LOADING ICON STARTS *********/
.loading-icon-container {
  min-height: calc(100vh - 80px);
}
@media (min-width:960px) {
  .loading-icon-container {
    min-height: calc(100vh - 220px);
  }
}

.loading-icon {
  position: absolute;
  width: 280px;
  height: 325px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-icon p {
  font-family: filson-pro, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  margin-top: 1em;
}

.box{
  position: relative;
  height: 280px;
  width: 280px;
  border-radius:100%;
  overflow: hidden;
}
.percent{
  position: absolute;
  font-family: filson-pro, sans-serif;
  font-weight: 700;
  left: 0;
  top: 0;
  z-index:3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:50px;
}

.water{
  position: absolute;
  left: 0;
  top: 0;
  z-index:2;
  width: 100%;
  height: 100%;
  transform:translate(0,100%);
  background:#6F98C7;
  transition: all .3s;
}

.water_wave{
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.water_wave_back {
  right: 0;
  fill: #92B5D4;
  animation-delay: 1s;
  animation: wave-back 1.4s infinite linear;
}
.water_wave_front {
  left: 0;
  fill: #6F98C7;
  margin-bottom: -1px;
  animation-delay: 1s;
  animation: wave-front .7s infinite linear;
}


@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}
/******** THE LOADING ICON ENDS *********/


/******** FINAL QUOTE PAGE STARTS *********/
.btn-center {
  text-align: center;
}
.deposit-btn-first {
  margin-top: 2.5em;
}
.step-4 button.back {
  float: none;
}
.via-square {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #868687;
  margin-bottom: 2em;
}
.via-square img {
  padding-left: .5em;
}

/* QUOTE HEADER */
.quote-img {
  margin: 1em auto 1.5em;
  width: 100px;
}
@media (min-width: 720px) {
  .quote-img {
    margin: 0 auto 2em;
    width: 130px;
  }
}
.quote-header {
  padding-bottom: 30px;
}
.quote-header h2 {
  font-size: 20px;
}
.quote-header .final-amount {
  font-size: 40px;
  color: #00aa96;
  font-family: filson-pro, sans-serif;
  font-weight: 700;
  margin-bottom: -.2em;
}
@media (min-width: 720px) {
  .quote-header .final-amount {
    font-size: 60px;
  }
}
.quote-header .amount-total {
  font-size: 40px;
}
@media (min-width: 720px) {
  .quote-header .amount-total {
    font-size: 72px;
  }
}
.quote-header .incl-VAT {
  font-size: 18px;
  padding-left: .25em;
}
.deposit-amount {
  font-size: 16px;
  margin-bottom: 0;
}


/* LUXURY LIST BOX */
.luxury-list-box-div {
  max-width: 480px;
  margin: 2.5em auto;
}
.luxury-list-box-div > div {
  display: flex;
}
.luxury-list-box-div > div:first-child {
  margin-bottom: 2em;
}
@media (min-width:720px) {
  .luxury-list-box-div > div:first-child {
    margin-bottom: 0;
  }
}
.luxury-list-box-div > div input {
  display: none;
}
.luxury-list-box {
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.luxury-list-box::after {
  content: " ";
  background-color: #57c2bc;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
  -webkit-background-size: 12px auto;
  -moz-background-size: 12px auto;
  background-size: 12px auto;
  background-image: url(../img/icon/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}
.luxury-list-box .box-header {
  background-color: #F1F6FC;
  padding: 1em;
  font-family: filson-pro, sans-serif;
  font-size: 15px;
  margin-bottom: 1em;
  font-weight: 700;
}
.luxury-list-box .total-price {
  font-family: filson-pro, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: .7em;
}
.luxury-list-box .total-price span {
  font-size: 20px;
}
.luxury-list-box ul {
  color: #868687;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 0 1em;
}
.luxury-list-box ul li {
  position: relative;
  padding-left: .85em;
  padding-bottom: .75em;
  display: inline-block;
}
.luxury-list-box ul li::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #868687;
}
.luxury-list-box .most-pop-div {
  background-color: #F1F6FC;
  padding: .3em 0 .5em;
  text-transform: uppercase;
}
.luxury-list-box .most-pop-div span {
  font-size: 13px;
  font-weight: 700;
}

.luxury-list-box-div > div :checked ~ .luxury-list-box {
  position: relative;
  border: 1px solid #336CB2;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.luxury-list-box-div > div :checked ~ .luxury-list-box::after {
  opacity: 1;
}
.luxury-list-box-div > div :checked ~ .luxury-list-box .box-header {
  background-color: #336CB2;
}
.luxury-list-box-div > div :checked ~ .luxury-list-box .box-header span {
  color: #FFF;
}


/* DISABLED CHECKBOX */
.disabled-arrow {
  position: relative;
  max-width: 450px;
  border: 0;
  border-top: 1px solid #f0f0f0;
  margin: 2em auto 1em;
}
@media (min-width:720px) {
  .disabled-arrow {
    margin: 2em auto 2.5em;
  }
}
.disabled-arrow::after,
.disabled-arrow::before {
  content:"";
  position: absolute;
  border-style:solid;
  border-width:13px;
  width:0;
  height:0;
  left:50%;
  transform: translate(-50%,0);
}
/* lux disabled arrow */
.disabled-arrow-lux::after,
.disabled-arrow-lux::before {
  bottom:0;
}
.disabled-arrow-lux:before {
  border-color: transparent transparent #f0f0f0 ;
}
.disabled-arrow-lux:after {
  margin-bottom: -2px;
  border-color: transparent transparent #fff;
}
.disabled-arrow-lux.active::after,
.disabled-arrow-lux.active::before {
  top: 0;
  bottom: auto;
}
.disabled-arrow-lux.active::before {
  border-color: #f0f0f0 transparent transparent;
  margin-bottom: 0;
}
.disabled-arrow-lux.active::after {
  border-color: #fff transparent transparent;
  margin-top: -2px;
}
/* platic disabled arrow */
.disabled-arrow-plastic::after,
.disabled-arrow-plastic::before {
  bottom:auto;
  top: 0;
}
.disabled-arrow-plastic:before {
    border-color: #f0f0f0 transparent transparent;
}
.disabled-arrow-plastic:after {
    margin-top: -2px;
    border-color: #fff transparent transparent;
}
.disabled-arrow-plastic.active::after,
.disabled-arrow-plastic.active::before {
  top: auto;
  bottom: 0;
}
.disabled-arrow-plastic.active::before {
  border-color: transparent transparent #f0f0f0;
  margin-bottom: 2px;
}
.disabled-arrow-plastic.active::after {
  border-color: transparent transparent #fff;
  margin-top: 0;
}

.lux-disabled-box {
  margin-top: 1.5em;
}
.disabled-unit-box {
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
  max-width: 450px;
  margin: 0 auto;
}
.disabled-unit-box label {
  cursor: pointer;
  padding: 1.25em 2.5em;
  align-items: center;
}
.disabled-unit-box p {
  font-size: 14px;
  margin: 0;
}
.disabled-unit-box img {
  display: none;
}
@media (min-width:720px) {
  .disabled-unit-box img {
    display: block;
    margin-right: .75em;
  }
}
.disabled-unit-box input {
  opacity: 0;
  cursor: default;
  height: 0;
  width: 0;
}
.disabled-unit-box .checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 1.25em;
  cursor: pointer;
  background: #ffffff;
  border: solid 1px #336cb2;
  transition: all 0.4s ease;
  vertical-align: middle;
  border-radius: 3px;
}
.disabled-unit-box .checkmark::after {
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
  top: 3px;
  left: 3px;
  transition: all 0.4s ease;
  background-color: #336cb4;
  border-radius: 50%;
  opacity: 0;
}
.disabled-unit-box input:checked ~ .checkmark::after {
  opacity: 1;
}

/* QUOTE TABLE */
.quote-table {
  padding-bottom: 35px !important;
  padding-top: 1em;
}
@media (min-width:720px) and (max-width:960px) {
  .quote-table {
    flex-direction: column;
  }
}
.quote-table h4 {
  font-size: 18px;
}
@media (min-width:720px) and (max-width:960px) {
  .quote-table ul {
    max-width: 100%;
  }
}
.quote-table ul li:nth-child(2n-1) {
  background-color: #F3F7FC;
}
.quote-table ul li div:first-child p {
  font-weight: 700;
}
.quote-table ul li p {
  font-size: 15px;
  margin-bottom: .5em;
  padding-top: .25em;
}


/* QUOTE ICONS */
.quote-icons-div {
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 3em;
}
.quote-icons-div p {
  font-size: 14px;
  font-weight: 700;
}
.quote-icons-div > div {
  text-align: center;
  margin-bottom: 1em;
}
@media (min-width: 720px) {
  .quote-icons-div > div {
    margin-bottom: 0;
  }
}

.quote-icons-div > div > div {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .quote-icons-div > div > div {
    margin: 0 auto 1em;
  }
}
.quote-icons-div > div > div img {
  max-width: 35px;
  max-height: 30px;
  z-index: 1;
}
@media (min-width: 720px) {
  .quote-icons-div > div > div img {
    max-width: 45px;
    max-height: 45px;
  }
}
.quote-icons-div > div > div::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #F3F7FC;
  border-radius: 50%;
}
@media (min-width: 720px) {
  .quote-icons-div > div > div::before {
    width: 75px;
    height: 75px;
  }
}
.quote-icons-div > div:first-child > div::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  bottom: -52px;
  background-color: #c8d1db;
}
@media (min-width: 720px) {
  .quote-icons-div > div:first-child > div::after {
    width: 3vw;
    max-width: 100px;
    height: 2px;
    right: -50%;
    bottom: 50%;
  }
}
@media (min-width: 960px) {
  .quote-icons-div > div:first-child > div::after {
    width: 6vw;
    right: -100%;
  }
}
@media (min-width: 1200px) {
  .quote-icons-div > div:first-child > div::after {
    width: 8vw;
    right: -150%;
  }
}
.quote-icons-div > div:nth-child(3) > div::after {
  content: ". . . . . . . . . . .";
  position: absolute;
  font-family: sans-serif;
  font-weight: 500;
  line-height: .7;
  letter-spacing: 1px;
  color: #c8d1db;
  width: 18px;
  height: 29px;
  top: -31px;
  white-space: nowrap;
  overflow: hidden;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
@media (min-width: 720px) {
  .quote-icons-div > div:nth-child(3) > div::after {
    width: 4vw;
    max-width: 100px;
    left: -50%;
    top: 50%;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }
}
@media (min-width: 960px) {
  .quote-icons-div > div:nth-child(3) > div::after {
    width: 6vw;
    left: -100%;
    top: 40%;
  }
}
@media (min-width: 1200px) {
  .quote-icons-div > div:nth-child(3) > div::after {
    width: 8vw;
    left: -150%;
  }
}

.quote-icons-div .icon-active > div {
  width: 100px;
  height: 100px;
}
.quote-icons-div .icon-active > div img {
  max-width: 50px;
  max-height: 35px;
}
@media (min-width: 720px) {
  .quote-icons-div .icon-active > div img {
    max-width: 65px;
    max-height: 43px;
  }
}
.quote-icons-div .icon-active > div::before {
  width: 80px;
  height: 80px;
  background-color: #336cb2;
}
@media (min-width: 720px) {
  .quote-icons-div .icon-active > div::before {
    width: 100px;
    height: 100px;
  }
}

.quote-footer .alert-notice {
  margin-bottom: 0;
}


.btn-pay {
  margin-bottom: 3.25em;
}
@media (min-width: 1200px) {
  .btn-pay {
    margin-bottom: 1.25em;
  }
}
form .form-footer-secondary {
  text-align: left;
}
/******** FINAL QUOTE PAGE ENDS *********/

.btnloading .angle-right{
  display: none;

}
.btn.btn-secondary{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.deposit-btn{
  padding: 16px 45px!important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
@keyframes loading {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loading div {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.loading div {
  animation: loading 1s linear infinite;
  top: 20px;
  left: 20px
}
.loading-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading div { box-sizing: content-box; }

.btn-secondary:disabled {
    cursor: not-allowed;
    background-color: #56C2BC;
    box-shadow: none!important;
}
